<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Sachin</h1>
    <table>
        <tr>
    <td>
    <pre>Dhoni received India's highest sport award, 
      the Major Dhyanchand Khel Ratna Award in 2008, 
      for his extraordinary performance at the international 
      level in the sport and the Government of India bestowed 
      him by country's fourth highest civilian award Padma 
      Shri in 2009 and third highest civilian award Padma 
      Bhushan in 2018. He is the only cricket captain in 
      the world to win all three of the major ICC trophies, 
      under his captaincy India won the 2011 ICC World Cup, 
      the 2007 T20I World Cup and the 2013 ICC champions trophy. 
      Dhoni holds an honorary rank of Lieutenant Colonel in the 
      Parachute Regiment of the Indian Territorial Army,[21] 
      it was presented to him by the Indian Army in 2011 for 
      his service to the nation as a sportsperson.[22] He is 
      considered one of the most popular cricketers in the world.
      [23] His biopic M.S. Dhoni: The Untold Story was released in 2016.[24]</pre>
    </td>
    <td>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/MS_Dhoni_2016.jpg/330px-MS_Dhoni_2016.jpg" alt="">
    </td>
    </tr>
    
    </table>
  </div>
</main>

</body>
</html>