<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Urva Patel 200520302</h1>
    <p>23F JavaScript Frameworks</p>
    <p>LAB04 Express Website with EJS views</p>
  </div>
</main>


</body>
</html>