<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Sachin</h1>
    <table>
        <tr>
    <td>
    <pre>Tendulkar took up cricket at the age of eleven, made his Test 
        match debut on 15 November 1989 against 
        Pakistan in Karachi at the age of sixteen, and went 
        on to represent Mumbai domestically 
        and India internationally 
        for over 24 years.[9] In 2002, halfway through 
        his career, Wisden ranked him the second-greatest
         Test batsman of all time,
        behind Don Bradman, and the second-greatest 
        ODI batsman of all time, behind Viv Richards.[10] 
        The same year, Tendulkar 
        was a part of the team that was one of the joint-winners 
        of the 2002 ICC Champions Trophy. Later in his career, Tendulkar 
        was part of the Indian team that won the 2011
         Cricket World Cup, his first win in six World 
         Cup appearances for India.[11] 
        He had previously been named "Player of the
         Tournament" at the 2003 World Cup.Tendulkar 
         has received several awards from the 
        government of India: the Arjuna Award (1994), 
        the Khel Ratna Award (1997), the Padma Shri (1998), 
        and the Padma Vibhushan (2008).
        [12][13] After Tendulkar played his last match in 
        November 2013, the Prime Minister's Office announced
        the decision to award 
        him the Bharat Ratna, India's highest civilian award.
        [14][15] He was the first sportsperson to receive the reward and, as of 2023, 
        is the youngest recipient.[16][17][18] In 2010, Time 
        included Tendulkar in its annual list of the most influential people in the 
        world.[19] Tendulkar was awarded the Sir Garfield Sobers 
        Trophy for cricketer of the year at the 2010 International Cricket Council 
        (ICC) Awards.[20]</pre>
    </td>
    <td>
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/Sachin-Tendulkar_%28cropped%29.jpg" alt="">
    </td>
    </tr>
    
    </table>
  </div>
</main>

</body>
</html>