<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Sehwag</h1>
    <table>
        <tr>
    <td>
    <pre>Sehwag holds multiple records including the highest
       score made by an Indian in Test cricket (319 against South Africa at M. A. 
       Chidambaram Stadium in Chennai), which was also the fastest triple century 
       in the history of international cricket (reached 300 off only 278 balls) as 
       well as the fastest 250 by any batsman (in 207 balls against Sri Lanka on 3 
       December 2009 at the Brabourne Stadium in Mumbai). Sehwag also holds the 
       distinction of being one of four batsmen in the world to have ever surpassed
        300 twice in Test cricket.[5] Sehwag has the highest strike rate in test 
        matches among batsmen with 2000 or more test runs. Sehwag's career strike 
        rate in test matches is 82.23.[6] In March 2009, Sehwag smashed what was 
        until then the fastest century ever scored by an Indian in ODI cricket, 
        from 60 balls.[7] On 8 December 2011, he hit his maiden double century in 
        ODI cricket, against West Indies, becoming the second batsman after Sachin 
        Tendulkar to reach the landmark.[8] His score became the highest individual 
        score in ODI cricket—219 off 149 balls which was later bettered by Rohit 
        Sharma—264 off 173 balls on 13 November 2014.[9][10][11] He is one of only 
        two players in the world to score a double hundred in ODI and a triple hundred 
        in Test Cricket, the other being Chris Gayle.</pre>
    </td>
    <td>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Virender_Sehwag_at_the_NDTV_Marks_for_Sports_event_13.jpg/330px-Virender_Sehwag_at_the_NDTV_Marks_for_Sports_event_13.jpg" alt="">
    </td>
    </tr>
    
    </table>
  </div>
</main>

</body>
</html>