<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="login-container">
        <div>
           <img src="https://www.blogtyrant.com/wp-content/uploads/2017/02/how-to-write-a-good-blog-post.png" alt="Girl in a jacket" width="500" height="600">
        </div>
        <div class="login-01">
        <h1>Login Page</h1>
        <form action="/login" method="post">
            <div>
            <label for="username">Email:</label>
            <input type="text" id="username" name="username" required><br /><br />
            </div>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br /><br />
            <div><button type="submit">Login</button></div>
            
        </form>
            <p>Don't have an account? <a href="/register">Register here</a>.</p>
        </div>
        
    </div>
</body>
</html>
