<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <div class="register-container">
        <div>
           <img src="https://www.blogtyrant.com/wp-content/uploads/2017/02/how-to-write-a-good-blog-post.png" alt="Girl in a jacket" width="500" height="600">
        </div>
        <div class="register-01">
            <h1>Register</h1>
            <form action="/register" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required> <br /><br />
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required><br /><br />
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br /><br />
                <button type="submit">Register</button>
            </form>
                    <p>Already have an account? <a href="/login">Login here</a>.</p>

        </div>
    </div>
</body>
</html>
